{% extends "base.html" %}
{% block content %}
  <h1>Message {{object.id}}</h1>
  Subject: {{subject}}<br>
  From: &lt;{{from.0}}&gt;{{from.1}}</br>
  To: {% for x in to %}&lt;{{x.0}}&gt;{{x.1}} {% endfor %}</br>
  CC: {% for x in cc %}&lt;{{x.0}}&gt;{{x.1}} {% endfor %}</br>
  <hr/>
  {{parts}}
    {% if msg_html %}
      <h2>HTML</h2>
      <iframe src="{% url mail_html object.pk %}" width="800" height="600">
      </iframe>
    {% endif %}
    {% if msg_text %}
      <h2>Text</h2>
      {{msg_text|linebreaks}}
    {% endif %}
    {% if attachments %}
      <h2>Attachments</h2>
      {% for file in attachments %}
      <a href="{% url mail_download object.pk file.firma %}">{{file.filename}} {{file.tipus}} {{file.length}}</a>
        <br/>
      {% endfor %}
    {% endif %}
<p><a href="{% url home %}">Back to list</a>
{% endblock content %}
